venv/
env/
share/
# Исключить временные файлы и кеши
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
bin/
pyvenv.cfg
lib/
*.pyc
*.pyo
__pycache__/
# Исключить файлы и папки сборки
build/
dist/
*.egg-info/

# Исключить настройки IDE (например, PyCharm)
.idea/
.vscode/

# Исключить файлы, создаваемые установщиками
*.manifest
*.spec

# Исключить логи и временные файлы
pip-log.txt
pip-delete-this-directory.txt
*.tmp
.DS_Store
lib/python3.8/site-packages/
lib/
venv/
